/* Base Application Styles */
html {
  color: #fff;
	background-color: rgb(238, 240, 241);
	font-family: sans-serif;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.title {
	border-radius: 6px;
	margin: 1rem;
	padding: 1rem;
	box-shadow: 1px 0px 10px 0px #CCCCCC;
}

.title-text  {
	margin: 0;
	line-height: 1;
	font-size: 24px;
	background: linear-gradient(to right,  rgb(114, 13, 247), rgb(255, 0, 234));
	background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.line {
	width: 100%;
	height: 5px;
	background-color: #9ab3ff;
}

body {
	margin: 2rem;
}

.index {
	background-color: white;
	display: grid;
	grid-auto-rows: auto;
	border: none;
	border-radius: 6px;
	margin: 0 auto;
	box-shadow: 1px 0px 10px 0px #CCCCCC;
}

.form {
	margin: 1rem 1rem 0rem 1rem;
	display: flex;
	flex-direction: column;
}

.input {
	margin-bottom: 2rem;
	position: relative;
}

.input__field:focus {
	outline: none;
	border-color: #ee0be3;
}

.input__field {
	border: 2px solid rgb(204, 209, 215);
	border-radius: 6px;
	padding: 0.5rem;
	width: 100%;
}

.input__label {
	display: inline-block;
	margin-bottom: 0.4rem;
	color:rgb(126, 118, 135);
}

.input__error {
	font-size: 14px;
	position: absolute;
	top: 68px;
	left: 0;
	color: red;
}

.select {
	margin-bottom: 2rem;
}

.select__field {
	border: 2px solid rgb(204, 209, 215);
	border-radius: 6px;
	padding: 0.5rem;
	width: 100%;
}

.select__label {
	display: block;
	margin-bottom: 0.4rem;
	color:rgb(126, 118, 135);
}

.button {
	border-radius: 6px;
	background-color: rgb(109, 0, 255);
	color: white;
	padding: 0.6rem;
	border: none;
	font-weight: 600;
	transition: .3s;
	width: calc(100% - 2rem);
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	margin-top: 0;
}

button:active {
	transform: scale(0.95);
}

.button--success {
	background-color: green;
}

.button--error {
	background-color: red;
}

.animation {
	margin: 0 auto;
}

.animation-error {
	color: red;
	margin: 0 auto;
	font-size: 2rem
}

.animation-success {
	color: green;
	font-size: 2rem;
	margin: 0 auto;
}

.line {
	height: .5rem;
	background-image: linear-gradient(to right, rgb(73, 197, 255), rgb(241, 0, 189))
}

/* Media Query */
@media only screen and (min-width: 700px) {
	.form {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.input {
		width: 49%;
	}

	.select {
		width: 49%;
	}

	.input--email {
		order: 2;
	}

	.select--account {
		order: 1;
	}

	.input--name {
		order: 0;
	}

	.input--message {
		order: 3;
	}
}